<main class="company">
   <!-- heading -->
   <h1><%- page.title %></h1>
   <div class="line"></div>
   <section class="company-post">
      <img src="<%= site.data.projects.imgPath %>" />
      <p><%= site.data.projects.desc %></p>
   </section>
</main>
