<header class="header">
   <div class="header-meta">
      <ul class="header-meta-list">
         <li class="header-meta-item">
            <a href="https://facebook.com/casadora.group/" class="meta-icon">
               <img src="https://casadora.group/static/icon/fb.svg" alt="fb" />
            </a>
         </li>
         <li class="header-meta-item">
            <a href="https://facebook.com/casadora.group/" class="meta-icon">
               <img src="https://casadora.group/static/icon/fb.svg" alt="fb" />
            </a>
         </li>
         <li class="header-meta-item">
            <a href="https://facebook.com/casadora.group/" class="meta-icon">
               <img src="https://casadora.group/static/icon/fb.svg" alt="fb" />
            </a>
         </li>
      </ul>
   </div>
   <div class="header-logo">
      <a href="/">
         <img
            src="https://casadora.group/static/img/logo-hori.png"
            alt="logo" />
      </a>
   </div>
   <div class="header-menu">
      <button class="header-menu-icon">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
         </svg>
      </button>
   </div>
</header>
