<div class="sidebar">
   <div class="sidebar-top">
      <h5 class="sidebar-heading">Contents</h5>
      <span class="sidebar-close">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               d="M6 18L18 6M6 6l12 12" />
         </svg>
      </span>
   </div>
   <nav class="sidebar-nav">
      <ul class="sidebar-list">
         <% for (var i in theme.menu){ %>
         <li class="sidebar-item">
            <a href="<%= url_for(theme.menu[i]) %>"><%= i %></a>
         </li>
         <% } %>
      </ul>
   </nav>
</div>
