<main class="home-main">
   <section class="banner">
      <div class="banner-image">
         <img
            src="https://casadora.group/static/img/logo-slogan.png"
            alt="logo-banner" />
      </div>
   </section>
   <% for (var i in page){ %>
   <li class="sidebar-item">
      <a href="<%= url_for(theme.menu[i]) %>"><%= i %></a>
   </li>
   <section class="banner-main">
      <div class="banner-main-image">
         <img
            src="https://tripday.vn/wp-content/uploads/2023/03/rose-villa-thao-dien.jpg"
            alt="logo-banner" />
      </div>
      <div class="banner-main-content">
         <h2 class="banner-main-heading">The Company</h2>
         <div class="line"></div>
         <p class="banner-main-desc">
            Casadora Furniture Corporation is acclaimed for the designs and
            furniture transforming into unique and special residences homes,
            hotels and human projects across the world.
         </p>
         <button class="banner-main-button">Read more</button>
      </div>
   </section>
   <% } %>
   <section class="banner-main">
      <div class="banner-main-image">
         <img
            src="https://tripday.vn/wp-content/uploads/2023/03/rose-villa-thao-dien.jpg"
            alt="logo-banner" />
      </div>
      <div class="banner-main-content">
         <h2 class="banner-main-heading">The Company</h2>
         <div class="line"></div>
         <p class="banner-main-desc">
            Casadora Furniture Corporation is acclaimed for the designs and
            furniture transforming into unique and special residences homes,
            hotels and human projects across the world.
         </p>
         <button class="banner-main-button">Read more</button>
      </div>
   </section>
</main>
