<main class="home-main">
   <section class="banner">
      <div class="banner-image">
         <img
            src="https://casadora.group/static/img/logo-slogan.png"
            alt="logo-banner" />
      </div>
   </section>
   <% site.pages.forEach(function(page){ %>
   <section class="banner-main">
      <div class="banner-main-image">
         <img src="<%= page.imgPath %>%>" alt="logo-banner" />
      </div>
      <div class="banner-main-content">
         <h2 class="banner-main-heading"><%= page.title %></h2>
         <div class="line"></div>
         <div class="banner-main-desc"><%- page.content %></div>
         <button class="banner-main-button">
            <a href="<%= page.pagePath %>">Read more</a>
         </button>
      </div>
   </section>
   <% }) %>
   <section class="banner-bottom">
      <div class="banner-bottom-image">
         <img
            src="https://cdn3.ivivu.com/2023/10/merperle-da-lat-ivivu-5.jpg"
            alt="logo-banner" />
      </div>
   </section>
</main>
