<footer class="footer">
   <div class="footer-wrap">
      <div class="footer-content">
         <div class="footer-logo">
            <img src="" alt="" />
         </div>
         <div class="footer-info">
            <h3>Lorem ipsum dolor sit amet consectetur.</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>
               Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
               consectetur.
            </p>
         </div>
         <div class="footer-meta"></div>
         <div class="footer-nav"></div>
      </div>
      <div class="footer-bottom"></div>
   </div>
</footer>
