<header class="header">
   <div class="header-wrap">
      <div class="header-title go-down">
         <h5 class="">the portfolio of</h5>
      </div>
      <div class="header-heading go-down">
         <h1 class="">Nhi Tran</h1>
      </div>
      <div class="header-desc go-up">
         <h3 class="">UI/UX & Multimedia Designer</h3>
      </div>
   </div>
   <a href="#intro" class="header-next">
      <i class="fa-solid fa-arrow-down"></i>
   </a>
</header>
