<% site.posts.forEach(function(post){ %> <% if(post.type === 'homepage'
&&post.section === 'intro') { %>
<section class="post" id="intro">
   <h2 class="post-heading"><%= post.title %></h2>
   <div class="post-content">
      <div class="post-media">
         <div class="post-image">
            <img src="images/Projects/intro.png" alt="image" />
         </div>
         <div class="post-link go-up">
            <a href="#workwithme">Work with me</a>
         </div>
      </div>
      <div class="post-desc">
         <p><%- post.desc %></p>
      </div>
   </div>
</section>
<% }}) %>
