<% site.posts.forEach(function(post){ %> <% if(post.type === 'homepage'
&&post.section === 'my works') { %>
<section class="post third">
   <h2 class="post-heading"><%= post.title %></h2>
   <div class="post-desc">
      <p><%- post.desc %></p>
   </div>
   <div class="post-content">
      <div class="post-media">
         <div class="post-media-item">
            <div class="post-image primary hasTitle">
               <img loading="lazy" src="images/Projects/spa.png" alt="image" />
               <span class="post-image-desc">UI/UX Projects</span>
            </div>
            <span class="post-image-title">Spa booking Webapp*</span>
         </div>

         <div class="post-media-item">
            <div class="post-image primary hasTitle second">
               <img loading="lazy" src="images/Projects/pas.png" alt="image" />
               <span class="post-image-desc">UI/UX Projects</span>
            </div>
            <span class="post-image-title">Performance Assessment System*</span>
         </div>

         <div class="post-media-item">
            <div class="post-image primary hasTitle third">
               <img
                  loading="lazy"
                  src="images/Projects/casadora.png"
                  alt="image" />
               <span class="post-image-desc">Website design</span>
            </div>
            <a href="https://casadora.group/">
               <span class="post-image-title">Casadora Business Website</span>
            </a>
         </div>

         <div class="post-media-item">
            <div class="post-image primary">
               <img
                  loading="lazy"
                  src="images/Projects/webtempl.png"
                  alt="image" />
            </div>
            <a href="#">
               <span class="post-image-title">Website templates</span>
            </a>
         </div>

         <div class="post-media-item">
            <div class="post-image primary">
               <img
                  loading="lazy"
                  src="images/Projects/thiep.png"
                  alt="image" />
            </div>
            <a href="#">
               <span class="post-image-title">Xinh Wedding Invitations</span>
            </a>
         </div>
         <div class="post-media-item">
            <div class="post-image primary">
               <img
                  loading="lazy"
                  src="images/Logo-folio/dxanh.png"
                  alt="image" />
            </div>
            <a href="/Logofolio">
               <span class="post-image-title">Logo & Branding Identity</span>
            </a>
         </div>

         <div class="post-media-item scale">
            <div class="post-image primary fill">
               <img loading="lazy" src="images/Projects/vpb.png" alt="image" />
            </div>
            <a href="#">
               <span class="post-image-title">VP Bank - Digital Ads*</span>
            </a>
         </div>
         <div class="post-media-item">
            <div class="post-image primary">
               <img
                  loading="lazy"
                  src="images/Projects/forbes.png"
                  alt="image" />
            </div>
            <a
               href="https://www.behance.net/gallery/37220565/Forbes-Vietnam-Events-Designs">
               <span class="post-image-title">Forbes Vietnam</span>
            </a>
         </div>

         <div class="post-media-item">
            <div class="post-image primary">
               <img
                  loading="lazy"
                  src="images/Projects/nextup.png"
                  alt="image" />
            </div>
         </div>
      </div>
   </div>
</section>
<% }}) %>
