<% site.posts.forEach(function(post){ %> <% if(post.type === 'logofolio' &&
post.id == 6 ) { %>
<section class="section third sixth">
   <div class="section-wrap">
      <div class="section-media">
         <div class="section-media-container">
            <div class="section-image">
               <img src="../images/Logo-folio/AE-01.jpg" alt="img" />
            </div>
            <div class="section-image">
               <img src="../images/Logo-folio/umbarina.png" alt="img" />
            </div>
            <div class="section-image">
               <img src="../images/Logo-folio/mentor0.png" alt="img" />
            </div>
         </div>
         <div class="section-image">
            <img src="../images/Logo-folio/prime-mockup.png" alt="img" />
         </div>
      </div>
      <div class="section-content">
         <h1 class=""><%- post.title %></h1>
         <p class=""><%- post.desc %></p>
      </div>
   </div>
</section>
<% }}) %>
