<% site.posts.forEach(function(post){ %> <% if(post.type === 'logofolio' &&
post.id == 5) { %>
<section class="section third reverse custom">
   <div class="section-wrap">
      <div class="section-content">
         <h1 class=""><%- post.title %></h1>
         <p class=""><%- post.desc %></p>
      </div>
      <div class="section-media">
         <div class="section-media-container">
            <div class="section-image">
               <img
                  loading="lazy"
                  src="../images/Logo-folio/ddpack.png"
                  alt="img" />
            </div>
            <div class="section-image">
               <img
                  loading="lazy"
                  src="../images/Logo-folio/dxlogo.png"
                  alt="img" />
            </div>
         </div>
         <div class="section-media-container">
            <div class="section-image">
               <img
                  loading="lazy"
                  src="../images/Logo-folio/DDFarm02.jpg"
                  alt="img" />
            </div>
            <div class="section-image">
               <img
                  loading="lazy"
                  src="../images/Logo-folio/dxanh.png"
                  alt="img" />
            </div>
         </div>
      </div>
   </div>
</section>
<% }}) %>
