<section class="section">
   <div class="section-wrap">
      <div class="section-left">
         <div class="section-title">
            <h1 class="section-heading">
               <b class="go-right">Logo</b><i>folio</i>
            </h1>
            <p class="section-tagname go-down"><i>by Nhi Tran</i></p>
         </div>
         <div class="section-image">
            <img src="../images/Logo-folio/tote.png" alt="img" />
         </div>
      </div>
      <div class="section-right">
         <div class="section-image">
            <img src="../images/Logo-folio/tenodesktop.png" alt="img" />
         </div>
         <p class="section-desc">
            The best selections <br />
            since 2014
         </p>
      </div>
   </div>
</section>
