<!DOCTYPE html>
<html lang="en">
   <%- partial("_partial/head") %>
   <body>
      <!-- main -->
      <%- body %>
      <!-- scripts -->
      <%- partial('_partial/assets/body-script') %>
   </body>
</html>
